<form class=" my-2 my-lg-0" action="{{path('rechercheProduit')}}" method="POST">
  <div class="form-group mx-sm-3 mb-2">
  	<span>
    {{form_row(form.recherche)}}
  	</span>
    <span>
  	{{form_row(form.submit)}} 
    </span>
  </div>
</form>
