{% extends "::base.html.twig" %}

{% block title %}EcommerceEcommerceBundle:ProduitController:Category{% endblock %}

{% block body %}
<h1>Welcome to the ProduitController:Category page</h1>
{% endblock %}
