{% extends "::base.html.twig" %}

{% block title %}EcommerceEcommerceBundle:ProduitController:Produit{% endblock %}

{% block body %}
<h1>Welcome to the ProduitController:Produit page</h1>
{% endblock %}
