{% extends "::base.html.twig" %}

{% block title %}EcommerceEcommerceBundle:ProduitController:Produits{% endblock %}

{% block body %}
<h1>Welcome to the ProduitController:Produits page</h1>
{% endblock %}
