
    body{

        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    .alert {margin-top: 20px!important;}
    .btn-primary,.badge-primary { background-color: #26a0d7!important; border-color: #26a0d7;color:#FFF;}
    .btn-primary:hover,.badge-primary:hover{ border-color: #26a0d7;} 
    .btn-icon.btn-primary .fa{color:#fff;}

    .btn-icon.btn-danger .fa {background-color: red;color:#FFF;}

    .btn span{color:#fff;}

    a{color: #26a0d7}
    .header{
        background-color: #FFF;
    }

    .footer{
        background-color: #292d39;
        color:#aaa;
    }

    .main_menu{
        position: relative;
        background-color: #292d39;
    }

    .cart{
        background-color: #26a0d7;
        position: absolute;
        top:0;
        right:15px;
        height: 100%;
        vertical-align: middle;
        padding: 10px 20px;
        color:#FFF;
         border-top-right-radius:5px;
    }
    .cart a {text-decoration: none;color:#FFF;}

    .header .top_header .header_infos{
        border-bottom:1px solid #f4f4f4 ;
        height: 40px
    }

    .header .top_header .header_infos ul {
        list-style: none;margin: 0!important;
    }

    .header .top_header .header_infos ul li {float:right;margin-top: 0; height: 40px;padding: 0 10px;line-height: 40px; color:#26a0d7;}
    .header .top_header .header_infos ul li a {color:#26a0d7; font-size: 14px; font-size: italic}

    .header .search ,.header .infos , .header .logo { height: 80px; }
    .header .logo img{max-height: 80px;}

    .header .search form {position: relative;} 
    .header .search input { margin-top: 20px; position: relative; float: left;border-color:#26a0d7;color:#26a0d7;;}
    .header .search .btn {float: right;position: absolute;top: 20px;right:0; border-radius: 0;background-color:#26a0d7;color:#fff; border-color:#26a0d7;cursor: pointer}

    .header .infos{font-size: 24px;color:#000;margin-top: 20px;text-align: right;}
    .header .infos .fa {color:#26a0d7;font-size: 36px;margin-right: 10px;}

    nav {border-radius: 0;}
    .nav-item > a{color: #fff; margin:0 20px;}

    nav .dropdown .dropdown-menu {border-radius: 0;background-color:#292d39; color:#FFF;top: 97%;}
    nav .dropdown .dropdown-menu a {color:#fff;}
    nav .dropdown .dropdown-menu a:hover{background-color:#26a0d7 }
    nav .dropdown:hover .dropdown-menu {display: block;} 

    .sidebar , .contenu{margin-top: 30px;}
    .jumbotron{margin-top: 0!important;}
    .jumbotron, .pub ,.product,.header_title{background-color: #FFF;border-radius: 0;margin: 15px 0;}
    .promotions .header_title{background-color: red;color:#FFF;}
    .pub-primary {background-color: #26a0d7!important;color:#FFF;}
    .pub {padding: 20px;display: block;position: relative;}

    .header_title{padding: 10px;}
    .header_title h4{font-size: 18px;}
    .pub h4, .product h4 {font-size: 18px;color:#26a0d7; margin: 10px 0;}
    .pub-primary h4 {font-size: 18px;color:#fff;}
    .pub img, .product img{max-width: 100%;}
    .pub p , .product p {font-size: 14px;color:#888888;}
    .pub-primary p {font-size: 14px;color:#eee;}
    .pub a {color:#292d39; float:right;font-size: 14px;}

    .pub-icon{display: block;text-align: center;width: 100%;margin:20px auto;}
    .pub-icon .fa{font-size: 36px; color:#26a0d7;}
    .pub-center{text-align: center;}

    .product {padding:10px;position: relative;overflow: hidden;}
    .product p {padding-bottom: 50px;}
    .product .btn {border-radius: 0}
    .nomargin{margin:0!important;}
    .product .bulle{position: absolute;} 
    .bulle {position:absolute;top:5px; left:5px;display: inline-block;background-color: #292d39;color:#fff;height: 20px;font-size: 10px;font-style: italic;padding:5px 10px;line-height: 10px;}

    .bulle.bulle-promo {background-color: red;}
    .bulle.bulle-primary{background-color:#26a0d7; }
  
    .product .actions{
        position: absolute;
        bottom: 9px;
        /* right: 10px; */
        width:90%;
    }

    .sidebar .collections{margin-bottom: 30px;}    
    .sidebar .collections .header {padding: 20px;color:#292d39;background-color: #26a0d7;color:#FFF;}
   
    .sidebar .collections ul {list-style: none; margin:0;padding: 0}
    .sidebar .collections li{ display: block;background-color: #FFF;height: 40px;line-height: 40px;color:#292d39;}
    .sidebar .collections li a {display: block;border-top: 1px solid rgba(0,0,0,.1);padding: 0 10px; text-decoration: none;color:#292d39;}
    .sidebar .collections li:hover a{color:#26a0d7;}

    .sidebar .collections.collection-simple .header{background-color: #fff!important;color:#26a0d7;border-bottom: 1px solid #26a0d7 }

   .sidebar .collections li a::after {
        content: '\f105';
        vertical-align: middle;
        float: right;
        margin: 0 0 0 7px;
        font: 14px/1.2em 'FontAwesome';
        opacity: .3;
        padding: 10px 0;
    }

    .collection-square li{display:inline;width: 40px;margin-right: 10px;float:left;margin-bottom: 10px;border: none;}
    .collection-square li a {border:none!important;}
    .collection-square li a::after {
       display: none;
    }
    .sidebar .collections.collection-simple.collection-square .header{border:none;margin-bottom: 20px}

    .btn-icon {padding:0;position: relative;height: 30px;line-height: 35px;display: inline-block;border:none;padding-left: 30px;margin-left: 10px;color:#FFF;}
    .btn-icon span{padding:0 20px 0 0px;}
    .btn-icon .fa {position:absolute; top:0px;left:0px;background-color: #26a0d7 ; display: inline-block;height: 30px;width: 30px;line-height: 30px;}
    .btn-icon:hover .fa {font-size: 15px;color:#fff;}
    .produit .actions {position: relative;}
    .product .actions .btn {float:right;}
    .btn-icon.btn-secondary .fa{background-color:#292d39!important }
    .btn-icon.btn-neutre .fa{background-color: #ccc!important;}
    .price {display: inline-block;height: 40px;line-height: 40px;padding:0 5px;color: #26a0d7; font-size: 16px; }
    .price.promo {text-decoration: line-through;font-weight: normal;color:red!important;font-size: 12px;}
    em.promo {color: #26a0d7;text-decoration: none!important;}

    .btn-icon.btn-black .fa,.btn-black {background-color:#292d39!important ;color:#FFF;}

    .titre_header {text-align: center;font-size: 22px;color:#292d39;margin: 20px auto;display:block;}
    .line{border-top: 1px solid #555}
    .copyright{font-size: 12px;color:#888;}
  

    a.pub {text-decoration: none!important;}
    a.pub:hover{background-color: #26a0d7!important;}
    a.pub:hover h4, a.pub:hover p , a.pub:hover .fa{color:#fff!important;}

    .footer {padding-top:40px;}
    .footer h4{font-size: 18px;padding-bottom: 20px;}
    .footer h4.line-bottom{border-bottom: 1px solid #888;}
    .footer p{font-size: 14px;font-style: italic}

    .footer .footer_infos ul {
        list-style: none;margin: 0!important;
    }

    .footer .footer_infos ul li {float:right;margin-top: 0; height: 40px;padding: 0 10px;line-height: 40px; color:#26a0d7;}
    .footer .footer_infos ul li a {color:#26a0d7; font-size: 14px; font-size: italic}
    .footer .list-item{
        list-style: square;
        margin: 20px 0;
    }
     .footer .list-item li a {text-decoration: none;color:#888;font-size: 12px;}


     .collection-tags  li {width: auto!important;font-size: 14px}
     .tags ul{margin: 20px 0;padding: 0;list-style: none}
     .tags ul li {display: inline-block;}
     .tags ul li a{padding:0 10px;position: relative;height: 30px;line-height: 25px;border:none;margin-right: 10px;color:#FFF; background-color: #ccc;text-decoration: none;font-size: 14px;}
     .tags ul li:hover a{background-color:#26a0d7; }

     .map{
        overflow:hidden;
        padding-bottom:33%;
        position:relative;>
        height:0;
        margin-bottom: 0
    }
    .map iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }

    .form-custom .fa, .form-custom .input-group-addon {color:#FFF;background-color: #26a0d7;display: inline-block;}
     .form-custom .input-group-addon{width: 40px;}
    .form-custom label{color:#26a0d7;font-style: italic;}

    .list-infos {margin: 0  ;padding: 0 }
    .list-infos li {display: block; margin-bottom: 40px; padding-left: 40px; position: relative; }
    .list-infos li .fa {position: absolute;top:0;left: 0; color: #FFF;background-color: #26a0d7;display: inline-block;width:40px;height: 40px;line-height: 40px;text-align: center;margin-right: 20px;}
    .list-infos li span {font-size: 14px; font-style: italic; border-bottom: 1px solid #26a0d7; line-height: 39px;display: inline-block;width: 100%;padding-left: 20px;}

    .contact-infos h4{
        margin: 35px 20px;
        font-size: 29px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }

    .header_line {background-color: #FFF;border-radius: 0;margin: 15px 0;padding: 10px;}

    .header_line .list-icons , .header_line .list-actions{margin: 0;padding: 0;}
    .header_line .list-icons li{display: inline-block;width: 30px; height: 30px;line-height: 30px;text-align: center;}
    .header_line .list-icons li a {display: block;text-decoration: none;height: 30px;}
    .header_line .list-icons li .fa{display:block;height: 30px;line-height: 30px;color:#292d39;}
    .header_line .list-icons li.active .fa{background-color: #26a0d7;color:#FFF;}

    .header_line .list-actions li {display: inline-block; float: right;margin-left: 10px;}    
    .header_line .list-actions li label {font-size: 14px; font-style: italic;padding-right: 10px;float: left;line-height: 30px;margin: 0}
    .header_line .list-actions li .custom-select {height: 30px;padding: 2px 20px 2px 10px;}
    
    .header_line form {position: relative;padding-right: 30px;}
    .header_line form button[type="submit"] {position: absolute;right: -15px;background-color:#26a0d7;color:#FFF;border: none;
    border-radius: 3px;  height: 30px;width: 30px;cursor: pointer; }

    /*
    Produit with side bar
    */
    .products .display_list{display: block;max-width: 100%!important;
        -webkit-flex: none; 
        -ms-flex: none; 
        flex: none;
    }

    .products .display_list img{float: left;}

    .products .display_grid { max-width: 33.333333%!important;
        ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        -webkit-flex: 0 0 33.333333%;
        }
    

     /*
    Produit without side bar
    */
    .products.noSideBar .display_list{display: block;max-width: 100%!important;
        -webkit-flex: none; 
        -ms-flex: none; 
        flex: none;
    }

    .products.noSideBar .display_list img{float: left;}

    .products.noSideBar .display_grid { max-width: 25%!important;
        ms-flex: 0 0 25%;
        flex: 0 0 25%;
        -webkit-flex: 0 0 25%;
        }
    

    .single-product{padding:30px  0;}
    .single-product .image {background-color: #FFF; padding:20px;text-align: center;}

    .single-product .infos , .single-product .description{background-color: #FFF; padding:20px; }

    .single-product .tumbnails {margin: 0  ;padding: 0; margin-top: 20px}

    .single-product .tumbnails li {display: inline-block;width:60px;height: 60px;}
    .single-product .tumbnails li img {width:60px;height: 60px;}

    .single-product .description{margin:20px 15px;}

    .image img{max-width: 100%;}

    .tags {margin: 0;padding: 0}
    .tags li{display: inline-block;height: 25px;line-height: 25px;}

    .line-top{border-top: 1px solid #ccc;margin-top: 40px;width: 100%}
    .social {margin-left: 20px;padding-left: 0; }
    .social li {display: inline-block;width: 40px; height: 40px; line-height: 40px;}

    .panier .table .thead-default th{background-color:#26a0d7;color:#FFF;}
    .panier .table .thead-default .input-group input.form-control-sm{width: 50px!important;}

    #panier  .small-input {width:40px;}
    #panier .total td{background-color:#26a0d7; }
    #panier .total {font-size: 18px;font-weight: bold;color:#fff;}

    .panier table .product_name a{float: left!important;}

    #Btn-paypal, #Btn-stripe {margin:40px auto;text-align: center;}
    #Btn-paypal a, .table a {float:none;}
    #Btn-paypal .link img{max-width: 200px; height: auto;}
    
    #Btn-stripe .stripe-button-el { margin:25px auto;  } 
    #Btn-stripe .stripe-button-el span {height: 200px; width: 200px;line-height: 200px; background-image: url('../img/cartes.jpg')}

    .pagination{border-radius: 0;}
    .pagination .page-item:first-child .page-link , .pagination .page-item:last-child .page-link {border-radius: 0;}
    .pagination .page-link {color:#292d39;}
    .pagination .page-item .active .page-link , .pagination .page-item:hover .page-link {background-color:#26a0d7!important;color:#FFF!important; }
    .pagination .page-item .disabled .page-link {}


    .example.example2 {
  background-color: #fff;
}

.example.example2 * {
  font-family: Source Code Pro, Consolas, Menlo, monospace;
  font-size: 16px;
  font-weight: 500;
}

.example.example2 .row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px 10px;
}

.example.example2 .field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 10px;
}

.example.example2 .field.half-width {
  width: 50%;
}

.example.example2 .field.quarter-width {
  width: calc(25% - 10px);
}

.example.example2 .baseline {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #cfd7df;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 8px;
  color: #cfd7df;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform-origin: 0 50%;
  cursor: text;
  transition-property: color, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 7px;
  color: #32325d;
  background-color: transparent;
}

.example.example2 .input::-webkit-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input::-moz-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input:-ms-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.example.example2 .input.StripeElement {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: opacity;
}

.example.example2 .input.focused,
.example.example2 .input:not(.empty) {
  opacity: 1;
}

.example.example2 .input.focused::-webkit-input-placeholder,
.example.example2 .input:not(.empty)::-webkit-input-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused::-moz-placeholder,
.example.example2 .input:not(.empty)::-moz-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused:-ms-input-placeholder,
.example.example2 .input:not(.empty):-ms-input-placeholder {
  color: #cfd7df;
}

.example.example2 .input.focused + label,
.example.example2 .input:not(.empty) + label {
  color: #aab7c4;
  transform: scale(0.85) translateY(-25px);
  cursor: default;
}

.example.example2 .input.focused + label {
  color: #24b47e;
}

.example.example2 .input.invalid + label {
  color: #ffa27b;
}

.example.example2 .input.focused + label + .baseline {
  background-color: #24b47e;
}

.example.example2 .input.focused.invalid + label + .baseline {
  background-color: #e25950;
}

.example.example2 input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.example.example2 input:-webkit-autofill {
  -webkit-text-fill-color: #e39f48;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.example.example2 .StripeElement--webkit-autofill {
  background: transparent !important;
}

.example.example2 input {
  -webkit-animation: 1ms void-animation-out;
}

.example.example2 input[type="submit"] {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #24b47e;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.example.example2 input[type="submit"]:active {
  background-color: #159570;
}

.example.example2 .error svg {
  margin-top: 0 !important;
}

.example.example2 .error svg .base {
  fill: #e25950;
}

.example.example2 .error svg .glyph {
  fill: #fff;
}

.example.example2 .error .message {
  color: #e25950;
}

.example.example2 .success .icon .border {
  stroke: #abe9d2;
}

.example.example2 .success .icon .checkmark {
  stroke: #24b47e;
}

.example.example2 .success .title {
  color: #32325d;
  font-size: 16px !important;
}

.example.example2 .success .message {
  color: #8898aa;
  font-size: 13px !important;
}

.example.example2 .success .reset path {
  fill: #24b47e;
}


#login {
    padding:40px;
    background:#FFF;
    margin-top: 40px;
}

#login .title {text-align: center;margin-bottom: 20px; border-bottom: 1px solid #ccc;padding:20px;}
#login h5 {color:#26a0d7;text-align: center;margin: 40px auto;}

.btn{cursor: pointer}
#login .btn {margin-top: 30px; line-height: 40px ;}
#login .btn-black {color:#fff;font-size: 1.25rem;}
#login .bottom {font-size: 12px; color:#ccc;text-align: center;display: block;width: 100%;}

#signin .btn-black {color:#fff;}

.pagination li{display: inline-block;}
.pagination li a,.pagination li span {padding:5px 10px;border: 1px solid #ccc;color: #777;margin-right: 5px;background-color:#FFF;text-decoration: none;line-height: 20px;}
.pagination li.active span{background-color: #26a0d7!important;color:#FFF;border:none}
.pagination li.disabled span {color: #eee!important;border-color: #eee!important}

.header_title {position: relative;}
.header_title .btn-absolute {position: absolute;top:10px;right: 10px;}
.image_small img{height: 100px;}

.form-full {width: 100%;display: block;}