{% extends "::base.html.twig" %}

{% block title %}EcommerceEcommerceBundle:Commande:prepareCommande{% endblock %}

{% block body %}
<h1>Welcome to the Commande:prepareCommande page</h1>
{% endblock %}
